//COLORS
$aqua:#35BEBB;
$lightblue:#7AD1EA;
$green: #57C787;
$lightgreen:#5DD48F;
$lightviolet: #8D71F0;
$violet: #7959EE;
$blue:#2F6DFB;
$blueDark: #2F347E;
$orange: #FBAB48;
$gray: #707070;
$grey:#7A7A7A;
$pink:#FF87AB;


$aqua50:#C5F4E1;
$lightblue50:#EBF9FA;
$orange50:#FEF2F0;
$lightgreen50:#F7FCFD;
$green50: #EFFBF8;
$yellow50:#FCFBF6;
$violet50:#EBE6FC;
$pink50:#FFF6F9;
$gray50: #F4F3F3;
$grey50:#F4F3F3;