.cursor{
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:3.4722222222vw;
	height:3.4722222222vw;
	margin:-1.7361111111vw 0 0 -1.7361111111vw;
	opacity:0;
	transition:opacity .2s cubic-bezier(.165,.84,.44,1);
	pointer-events:none
}
@media(max-width:875px){
	.cursor{display:none}
}
.cursor--hover .cursor-inner{
	transform:scale(.5);
	opacity:0
}
.cursor--hover .cursor-outer{
	transform:scale(1.6);
	border-color:transparent;
	opacity:1;
	background-color:hsla(0,0%,100%,.145)
}
.cursor--drag .cursor-inner{
	transform:scale(.5);
	opacity:0
}
.cursor--drag .cursor-outer{
	transform:scale(1.6);
	border-color:transparent;
	opacity:.8;
	background-color:rgba(0,0,0,.95)}
.cursor--drag .cursor-outer-text{opacity:1}
.cursor--remove .cursor-inner,
.cursor--remove .cursor-outer{transform:scale(.5);
		opacity:0}
.cursor.c-active{opacity:1}
.cursor-move-inner{position:absolute;
	top:50%;
	left:50%;
	width:.4166666667vw;
	height:.4166666667vw;
	margin-top:-.2083333333vw;
	margin-left:-.2083333333vw
}
.cursor-move-outer{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}
.cursor-inner{background:#00ffc2;
	border-radius:50%;
	transition:transform .4s cubic-bezier(.23,1,.32,1),opacity .4s cubic-bezier(.165,.84,.44,1)}
.cursor-inner,.cursor-outer{display:block;
		width:100%;
	height:100%}
.cursor-outer{
	border:1px solid hsla(0,0%,100%,.2);
	border-radius:50%;
	box-sizing:border-box;
	transition:border .4s cubic-bezier(.165,.84,.44,1),background-color .4s cubic-bezier(.23,1,.32,1),transform .4s cubic-bezier(.23,1,.32,1),opacity .4s cubic-bezier(.165,.84,.44,1)
}
.cursor-move-outer-text{
	position:absolute;
	top:50%;
	left:50%;
	width:.4166666667vw;
	height:.4166666667vw;
	margin-top:-.2083333333vw;
	margin-left:-.2083333333vw
}
.cursor-outer-text{
	font-family:inherit;
	font-size:1.0416666667vw;
	line-height:.8854166667vw;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	opacity:0;
	transition:opacity .4s cubic-bezier(.165,.84,.44,1)
}