.grid-logos {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 30px;
  .logo {
    margin: 0;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    img {
      max-width: 100%;
      max-height: 86px;
      mix-blend-mode: lighten;
      object-fit: contain;
    }
  }

  &.home {
    .logo {
      &:after {
        content: '';
        height: 80%;
        width: 1px;
        background-color: rgba($color: white, $alpha: 0.1);
        top: 10%;
        right: 0;
        position: absolute;
      }
      &:before {
        content: '';
        width: 80%;
        height: 1px;
        background-color: rgba($color: white, $alpha: 0.1);
        bottom: 0;
        left: 10%;
        position: absolute;
      }
      .dot {
        content: '';
        width: 3px;
        height: 3px;
        border-radius: 3px;
        background-color: $green;
        bottom: 0;
        right: -1px;
        position: absolute;
      }
      @media (min-width: 992px) {
        &:nth-child(5n + 5) {
          &::after,
          .dot {
            display: none;
          }
        }
        &:nth-last-child(-n + 5) {
          &::before {
            display: none;
          }
          .dot {
            display: none;
          }
        }
      }
      @media (max-width: 992px) {
        &:nth-child(2n + 2) {
          &::after,
          .dot {
            display: none;
          }
        }
        &:nth-last-child(-n + 2) {
          &::before {
            display: none;
          }
          .dot {
            display: none;
          }
        }
      }
      // @media (max-width: 580px) {
      //   &:after {
      //     display: none;
      //   }
      //   .dot {
      //     display: none;
      //   }
      //   &:nth-last-child(-n + 2) {
      //     &::before {
      //       display: block;
      //     }
      //   }
      // }
    }
  }

  @media (max-width: 992px) {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    .logo {
      img {
        max-width: 80%;
      }
      // &:not(:last-child,:nth-child(5)):after,
      // &:nth-child(n+6):before,
      // .dot{
      //     content: '';
      //     height: initial;
      //     width: initial;
      //     background-color: initial;
      //     top:initial;right: initial;bottom:initial;
      //     position: initial;
      //     background-color: initial;
      // }
      // &:nth-child(odd):before,
      // &:nth-child(even):before{
      //     content: '';
      //     width: 80%;
      //     height: 1px;
      //     background-color: rgba($color: white, $alpha: .10);
      //     top:0;left: 10%;
      //     position: absolute;
      // }
      // &:nth-child(odd):after{
      //     content: '';
      //     height: 80%;
      //     width: 1px;
      //     background-color: rgba($color: white, $alpha: .10);
      //     top:10%;right: 0;
      //     position: absolute;
      // }
      // &:first-child:before,&:nth-child(2):before{
      //     opacity: 0;
      // }
    }
  }

  &__small {
    grid-template-columns: repeat(3, 1fr);
    .logo {
      img {
        max-height: 72px;
      }
      &:not(:last-child, :nth-child(3)):after {
        content: '';
        height: 80%;
        width: 1px;
        background-color: rgba($color: white, $alpha: 0.1);
        top: 10%;
        right: 0;
        position: absolute;
      }
      &:nth-child(n + 4):before {
        content: '';
        width: 80%;
        height: 1px;
        background-color: rgba($color: white, $alpha: 0.1);
        top: 0;
        left: 10%;
        position: absolute;
      }
      &:nth-child(3) {
        &::after,
        &::before {
          opacity: 0;
        }
      }
    }
  }
}
