.nucleo{
    &_grid{
      padding: 80px 0;
      margin:100px auto 0;
      width: 90%;
      max-width: 1100px;
      img.portrait{max-width: 330px;width: auto;height: auto;}
      img.landscape{max-height: 290px;width: auto;height: auto;}
      @media (max-width:992px) {
        margin:0;
        width: 100%;        
      }
    }
    &_news{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 350px;
        max-height: 400px;
        &:nth-child(2){
          margin-left: auto;
          margin-right: 140px;
          max-height: 300px;
          margin-bottom: 80px;
        }
        &:nth-child(3){
         transform: translateX(50%);
        }
        @media (max-width:992px) {
          margin-bottom: 80px;
          &:nth-child(2){
            margin-left: auto;
            margin-right: 00px;
            max-height: 400px;
          }
          &:nth-child(3){
           transform: translateX(0%) !important;
          }
          
        }
        &--copy{
            position: relative;
            z-index: 1;
            top: -2.5rem;
            left: -2rem;
            h5{
              font-family: $font-title;
              text-transform: uppercase;
              font-size: 1.4rem;
              color:#707070;
              margin-bottom: 14px;
              font-weight: 400;
            }
            h3{
              margin-bottom: 20px;
              font-weight: 500;
              position: relative;
              line-height: 1;
              &:before{
                content: '';
                position: absolute;
                top:0;left: -20px;
                width: 9px;height: 100%;
                background: $green;
                border-radius: 1px;
                transition: ease-in-out 0.5s;
                opacity: 0;
              }
            }
            a{
              transition: ease-in-out 0.5s;
              transform: translateY(30px);
              opacity: 0;
              pointer-events: none;
            }
            @media (max-width:992px) {
              left: 20px;
            }
        }
        figure{
            display: inline-flex;
            transform: translate(100px,50px);
            .image{
                position: relative;
                display: block;
                transition: ease-in 0.6s;
                position: relative;
                display:block;
                border: 1px solid transparent;
                border-image-slice: 1;
                border-image-source: linear-gradient(145deg, rgba(17,202,131,0) 51%, rgba(17,202,131,0) 100%);
            }
        }
        &:hover{
          .primary-button{opacity: 1;pointer-events: initial;transform: translateY(0);}
          .title:before{opacity: 1;}
          .image{
            box-shadow:0px 60px 80px #00180F;
            border-image-source: linear-gradient(145deg, rgba(17,202,131,0) 51%, rgba(17,202,131,1) 100%);
            &::after{
                opacity: 1;
            }
          }
          .story_copy{
            opacity: 1;
            transform: translate(-80%, -50%);
          }
        }
        @media (max-width:992px){
          .primary-button{opacity: 1;pointer-events: initial;transform: translateY(0);}
          .title:before{opacity: 1;}
          .image{
            box-shadow:0px 60px 80px #00180F;
            border-image-source: linear-gradient(145deg, rgba(17,202,131,0) 51%, rgba(17,202,131,1) 100%);
            &::after{
                opacity: 1;
            }
          }
          .story_copy{
            opacity: 1;
            transform: translate(-80%, -50%);
          }
        }
    }

    .scrollButton {
      bottom: 180px;
    }
}